#kanbas-navbar {
  width: 85px !important;
  min-height: max(100vh, 100%);
}

#kanbas-navbar ul {
  max-width: 100% !important;
}

#kanbas-navbar ul li {
  max-width: 100% !important;
}

.kanbas-navbar-item-text {
  font-size: 0.9em !important;
}

.sidebar-item,
.sidebar-item:visited {
  color: #ffffff;
  max-width: 100% !important;
}

.sidebar-item:hover {
  color: #e50000;
}

.nav-pills .sidebar-item span {
  color: #e50000;
}

.nav-pills .sidebar-item.active {
  background-color: #ffffff;
  color: #e50000;
}

#account-icon {
  color: grey;
}

.nav-pills .sidebar-item {
  width: 100vw;
  border-radius: 0;
  padding: 5px;
}

.nav-pills .sidebar-item div span,
.nav-pills .sidebar-item div div {
  margin-block: 3px;
}

.page-content-wrapper {
  margin: 25px;
}

#assignments-page-header-icon {
  color: #e50000;
}

.breadcrumb-item a {
  color: #e50000;
  text-decoration: none;
}

.secondary-sidebar {
  max-width: 190px;
}

.sidebar-title {
  font-style: italic;
  color: rgb(93, 93, 93);
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.secondary-sidebar ul {
  margin: 0;
  padding-left: 0;
}

.secondary-sidebar li {
  list-style-type: none;
  padding-block: 10px;
  /* margin-block: 20px; */
}

.secondary-sidebar li a {
  text-decoration: none;
  color: #e50000;
  font-size: 1.2em;
}

.secondary-sidebar li.selected {
  padding-left: 8px;
  margin-left: -10px;
  border-left: 2px solid black;
}

.secondary-sidebar li.selected a {
  color: black;
  font-weight: 500;
}

.secondary-sidebar li.selected a:hover {
  color: black;
}

.link-no-decoration {
  text-decoration: none;
  color: black;
}

.link-red,
.settings-nav-item,
.fa-circle-question {
  color: #e50000;
}

.column-subtitle {
  font-size: 0.9em;
}

td {
  text-align: center;
}

.focus-red:focus {
  border-color: #e50000;
}

.settings-nav-item:hover,
.link-red:hover,
.secondary-sidebar li a:hover {
  color: #a30000;
}

.font-small {
  font-size: 0.8em;
}

.navigation-subitem {
  font-size: 0.9em;
}
