#kanbas-navbar {
  width: 85px !important;
  min-height: max(100vh, 100%);
}

#kanbas-navbar ul {
  max-width: 100% !important;
}

#kanbas-navbar ul li {
  max-width: 100% !important;
}

.kanbas-navbar-item-text {
  font-size: 0.9em !important;
}

.nav-link,
.nav-link:visited {
  color: #ffffff;
  max-width: 100% !important;
}

.nav-link:hover {
  color: #e50000;
}

.nav-pills .nav-link span {
  color: #e50000;
}

.nav-pills .nav-link.active {
  background-color: #ffffff;
  color: #e50000;
}

#account-icon {
  color: grey;
}

.nav-pills .nav-link {
  width: 100vw;
  border-radius: 0;
  padding: 5px;
}

.nav-pills .nav-link div span,
.nav-pills .nav-link div div {
  margin-block: 3px;
}

.page-content-wrapper {
  margin: 25px;
}

#assignments-page-header-icon {
  color: #e50000;
}

.breadcrumb-item a {
  color: #e50000;
  text-decoration: none;
}

.secondary-sidebar {
  max-width: 190px;
}

#assignments-sidebar-title {
  font-style: italic;
  color: rgb(93, 93, 93);
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.secondary-sidebar ul {
  margin: 0;
  padding-left: 0;
}

.secondary-sidebar li {
  list-style-type: none;
  padding-block: 10px;
  /* margin-block: 20px; */
}

.secondary-sidebar li a {
  text-decoration: none;
  color: #e50000;
  font-size: 1.2em;
}

.secondary-sidebar li.selected {
  padding-left: 8px;
  margin-left: -10px;
  border-left: 2px solid black;
}

.secondary-sidebar li.selected a {
  color: black;
  font-weight: 500;
}

/* .fa-check-circle {
    color: green;
}

#links-list {
    list-style: none;
    padding: 0;
}

.override-btn {
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(196, 195, 195);
    color: black;
}

.btn-primary.override-btn:active {
    background-color: grey;
    border: 1px solid grey;
    color: black;
}

.override-btn:hover {
    background-color: lightgrey;
    color: black;
    border: 1px solid lightgrey;
}

.btn-red {
    color: white;
    background-color: #E50000;
    border: 1px solid rgb(196, 195, 195);
}

.btn-primary.btn-red:active {
    background-color: #a00000;
    border: 1px solid white;
    color: white;
}

.btn-red:hover {
    background-color: #b90000;
    color: white;
    border: 1px solid white;
} */

.link-no-decoration {
  text-decoration: none;
  color: black;
}

.link-red {
  color: #e50000;
}

.column-subtitle {
  font-size: 0.9em;
}

td {
  text-align: center;
}

.focus-red:focus {
  border-color: #e50000;
}
