#kanbas-navbar {
  width: 100px !important;
  min-height: max(100vh, 100%);
}

/* #kanbas-navbar ul {
  max-width: 100% !important;
} */

#kanbas-navbar ul li {
  max-width: 100% !important;
}

.kanbas-navbar-item-text {
  font-size: 0.9em !important;
}

.nav-link {
  color: white;
  max-width: 100% !important;
}

.nav-pills .nav-link span {
  color: red;
}

.nav-pills .nav-link.active {
  background-color: #ffffff;
  color: red;
}

#account-icon {
  color: grey;
}

.nav-pills .nav-link {
  width: 100vw;
  border-radius: 0;
  padding: 5px;
}

.nav-pills .nav-link div span,
.nav-pills .nav-link div div {
  margin-block: 3px;
}

.page-content-wrapper {
  min-width: 100vw;
  margin: 25px;
}
